<div class=“message”>
  <% if user.eql?('Bot') %>
    <div class="container chat col-md-6">
      <b><%= user %>:</b><%= message %>
<!--      <span class="time-right"><%#= Time.now.strftime("%I:%M%p") %></span>-->
    </div>
    <% if qr %>
      <div class="col-md-6" style="float: left; padding-bottom: 10px">
        <% qr.each do |b| %>
          <button class="btn btn-primary" data-behavior="quick_reply_btn"><%= b %></button>
        <% end %>
    <% end %>
      </div>
  <% else %>
    <div class="container chat darker col-md-6">
      <p><b><%= user %>:</b><%= message %></p>
<!--      <span class="time-right"><%#= Time.now.strftime("%I:%M%p") %></span>-->
    </div>
  <% end %>
</div>